@import url(//fonts.googleapis.com/css?family=Ubuntu:regular,medium,bold&subset=Latin);
@import url(https://allfont.net/allfont.css?fonts=ubuntu-medium);
.App {
  text-align: center;
  margin: 20px;
  font-family: "Ubuntu", arial;
}
body {
  /* overflow-y: hidden; */
  font-size: 13px;
  color: #2b221f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.links {
  color: rgba(129, 129, 129, 0.466);
  font-size: 1.19em;
  cursor: pointer;
}

.links2 {
  color: rgba(129, 129, 129, 0.685);
}
.linkage {
  margin-top: 32px !important;
}

.seperator {
  width: 3px;
  height: 1em;
  margin: 0 20px !important;
  background-color: rgba(204, 204, 204, 1);
}
.doCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 3.8em;
  font-weight: bold;
  margin-top: 100px !important;
}
.block {
  border: 1px solid #4caf50;
  width: fit-content;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 4px 20px;
  color: #4caf50;
}
.col {
  flex-direction: column;
}
.top-section div {
  margin: 2px;
}
.lock {
  overflow: visible;
  width: 12px;
  height: 15.2px;
  padding-right: 10px;

  fill: #f44336;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.top-button {
  position: absolute;
  /* font-family: "Ubuntu Medium", arial; */
  top: 20px;
  font-size: 1.4em;
  font-weight: 500;
  background-color: #f8d252;
  padding: 10px 16px;
  border-radius: 5px;
  right: 15vw;
  cursor: pointer;
}

.button {
  background-color: #f8d252;
  padding: 6px 16px;
  border-radius: 5px;
  width: fit-content;
  color: #2b221f;
  opacity: 1;
  position: relative;
  top: 1px;
  font-weight: 800;
  margin: 1vw;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button2 {
  background-color: #f8d252;
  padding: 6px 16px;
  border-radius: 5px;
  width: fit-content;
  color: #2b221f;
  opacity: 1;
  font-weight: 800;
  margin: 15px;
  cursor: pointer;
}

.button2:hover {
  opacity: 0.8;
}

.connect {
  overflow: visible;
  width: 22px;
  height: 19.8px;
  left: 0px;
  padding-right: 10px;
  top: 5.257px;
  fill: #2b221f;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.padlock {
  /* overflow: visible; */
  padding-right: 10px;
  fill: #4caf50;
  /* position: absolute; */
  width: 15px;
  height: 15px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.blocks {
  min-height: 250px;
  width: 170px;
  margin: 2vw;
  font-size: 1.2em;
  font-weight: bold;
  background: #66666610;
  padding: 0.7vw 0 0 0;
}
.heading {
  font-size: 1em;
  font-weight: bold;
  color: rgba(129, 129, 129, 1);
}
.blocks > img {
  background: #f8d252;
  border-radius: 200px;
  width: 85px;
  margin: 20px;
}

.Ellipse_4 {
  width: 42px;
  height: 42px;
}
#Ellipse_4 {
  fill: rgba(248, 210, 82, 1);
  cursor: pointer;
  --web-animation: fadein 0.3s ease-in-out;
  --web-action-type: page;
  --web-action-target: ApiaryDAO_page4.html;
}

.modalView {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
}
.modalView > div {
  position: fixed;
  background: rgba(0, 0, 0, 0.158);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.modalView > div > div {
  padding-bottom: 5%;
  position: absolute;
  top: 20%;
  left: 38%;
  width: 340px;
}

.input-modal {
  /* background: #f0f0f0; */

  outline: none;
  margin-top: 10px;
}
.input-modal > div:first-child {
  background: #f0f0f0;
  height: 3.5vw;
  border-radius: 5px;

  /* padding: 0 10px; */
}

#inputID::placeholder {
  color: #00000022;
  /* opacity: 1; */
}

textarea:focus,
input:focus {
  outline: none;
}
.input-modal input {
  background: #f0f0f0;
  padding: 5px;
  width: 50%;
  font-weight: bold;
  font-size: 1.2em;
  color: #00000099 !important;
  border: none;
}
.modalView > div > div > div {
  /* margin-bottom: 20%; */
  color: white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
  min-height: 15vh;
  border: 2px solid #f8d252;

  padding: 10px 10px 10px 20px;
  /* margin-bottom: 20%; */
  border-radius: 10px;
}
.modalClass {
  display: flex;
  align-items: center;
  height: 20vh;
  justify-content: center;
}

.modalView > div > div > div > img:first-child {
  width: 7vmin;
  height: 7vmin;
  object-fit: contain;
  float: right;
  margin: 1vw;
  right: 7vmin;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
}

.input-box {
  background: #f0f0f0;
  /* height: 3.5vw; */
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}
.input-box input {
  background: #f0f0f0;
  padding: 5px;
  width: 50%;
  font-weight: bold;
  font-size: 1.2em;
  color: #00000099 !important;
  border: none;
}

.max {
  position: relative;
  color: #2c2320cc;

  top: -19px;
  height: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .top-button {
    position: absolute;
    top: 20px;
    background-color: #f8d252;
    padding: 10px 16px;
    border-radius: 5px;
    right: 3vw;
    font-size: 01em;
    cursor: pointer;
  }

  .modalView > div > div {
    padding-bottom: 5%;
    position: absolute;
    top: 20%;
    left: 11.5%;
    width: 77%;
  }
  .modalClass {
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
  }
  /* .modalClass > div > div {
    margin: 10px;
  } */
  .modalClass input {
    width: 50%;
  }
  .input-modal > div:first-child {
    height: 10.5vw;
  }

  .input-modal {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .modal-box > div {
    margin-bottom: 10px !important;
  }

  .max {
    top: -24px;
  }
  .linkage {
    width: 60%;
    margin-left: 20px !important;
  }
  .seperator {
    width: 3px;
    height: 1em;
    margin: 0 10px !important;
    background-color: rgba(204, 204, 204, 1);
  }
}
